*{
    font-family: 'Dosis', sans-serif;
}
@font-face{
    src: url("../fonts/Akira\ Expanded\ Demo.otf");
    font-family: akira;
}
.bg-primary{
    background-color: #02C7FE !important;
}
.container{
    max-width: 92% !important;
}
button:focus{
    outline: unset;
    box-shadow: unset !important;
}
.hero{
    padding: 30px 0;
}
.card, .card-body, .stats{
    border-radius: 50px;
}
.bg-dark{
    background-color: #000 !important;
}
.card-body.bg-dark.text-center.position-relative {
    padding: 11px;
}
.stats{
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.user{
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    z-index: 2;
}
.fs-25{
    font-size: 25px;
}
.text-info{
    color: #00acff !important;
}
.img-fluid.position-absolute.bottomimg {
	left: 0;
	top: -120px;
	padding: 0px;
    z-index: 1;
}
.z-index-2{
    z-index: 2 !important;
}
.btn.position-relative.z-index-2 {
	width: 75%;
}

.information .container{
    background-image: url("../img/TRAINING\ SECTION.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 30px !important;
    position: relative;
    z-index: 2;
    padding: 50px 0 100px 0 !important;
}
.fs-50 {
	font-size: 40px;
	letter-spacing: 2;
	text-transform: uppercase;
}

.portfolio .container{
    background-image: url("../img/BLACK\ WOOD\ BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0 0 0 !important;
    position: relative;
    top: -60px;
}
.img-fluid.position-absolute.z-index-2.centerImg {
	left: 50%;
	transform: translate(-50%);
	bottom: 40px;
}
.fs-70{
    font-size: 70px;
    letter-spacing: 3;
}

.card{
    background-color: transparent !important;
    border: unset !important;
}
.col-md-2{
    padding:10px !important;
}
.benifits .container {
	padding: 0;
	position: relative;
	top: -175px;
	z-index: -1;
}
.benifits {
    margin-bottom: -150px;
}
.akira{
    font-family: akira;
}
.akira.position-absolute {
	top: 157px;
	z-index: 5 !important;
	left: 25%;
	right: 20%;
	text-align: center;
}

.position-absolute.pp1.fs-25 {
	top: 335px;
	left: 32%;
	right: 30%;
}

.position-absolute.pp2.fs-25 {
	top: 470px;
	left: 32%;
	right: 30%;
}

.position-absolute.pp3.fs-25 {
	top: 640px;
	left: 32%;
	right: 30%;
}

.offer .container {
	padding: 0;
	position: relative;
	top: -35px;
	left: -1px;
}

.bot .container {
	padding: 0;
	position: relative;
	top: -40px;
}
.bot {
	margin-bottom: -40px;
}

.footer .card{
    border-radius: 0 0 30px 30px !important;
}

.footer .card-body{
    background-color: #f5f5f7 !important;
}
.footer .card-footer{
    background-color: #f0f0f0 !important;
}
.footer .container {
	padding: 0;
}
.footer .card-body {
	border-radius: unset !important;
}
.footer .card-footer{
    border-radius: 0 0 30px 30px !important;
}
.footer .img-fluid.position-absolute {
	width: 95%;
	left: 70%;
	transform: translate(-50%);
	top: -80px;
}

@media screen and (max-width:992px){
    .img-fluid.position-absolute.bottomimg {
        left: 0;
        top: 30px;
        padding: 0px;
        z-index: 1;
    }
    .img-fluid.position-absolute.user {
        width: 60%;
    }
    .text-white.mt-5.fs-25 {
        margin-top: 0 !important;
    }
    .fs-50 {
        font-size: 30px;
        letter-spacing: 2;
        text-transform: uppercase;
    }
    .fs-25 {
        font-size: 20px;
    }
    .text-end .img-fluid.mx-1 {
        width: 100px;
        margin-bottom: 30px !important;
    }
    .information .container {
        background-image: url("../img/TRAINING\ SECTION.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        padding: 0 30px !important;
        position: relative;
        z-index: 2;
        padding: -1px 0 100px 0 !important;
    }
    .footer .img-fluid.position-absolute {
        width: 95%;
        left: 70%;
        transform: translate(-50%);
        top: -10px;
    }
    .akira.position-absolute {
        top: 120px;
        z-index: 5 !important;
        left: 25%;
        right: 20%;
        text-align: center;
        font-size: 25px;
    }
    .position-absolute.pp1.fs-25 {
        top: 202px;
        left: 32%;
        right: 17%;
    }
    .position-absolute.pp2.fs-25 {
        top: 284px;
        left: 32%;
        right: 17%;
    }
    .position-absolute.pp3.fs-25 {
        top: 370px;
        left: 32%;
        right: 17%;
    }
    ul .w-75.img-fluid {
        width: 100px !important;
        margin: auto !important;
    }
    .nav-item.m-auto {
        margin-right: unset !important;
        text-align: right !important;
    }
}

@media screen and (max-width:768px){
    .hero .col-md-2 {
        display: none;
    }
    .img-fluid.position-absolute.bottomimg {
        left: 0;
        top: 80px;
        padding: 0px;
        z-index: 1;
    }
    .information .container {
        background-image: unset;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        padding: 0 30px !important;
        position: relative;
        z-index: 2;
        padding: -1px 0 100px 0 !important;
    }
    .img-fluid.position-absolute.z-index-2.centerImg {
        display: none;
    }
    .img-fluid.mt-5.position-relative.z-index-2 {
        display: none;
    }
    .information .fw-bold.akira:nth-child(1) {
        margin-top: 3rem;
    }
    .text-end img {
        display: none;
    }
    .information .container {
        background-image: unset;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        padding: 0 30px !important;
        position: relative;
        z-index: 2;
        padding: -1px 0 100px 0 !important;
        padding-bottom: 75px !important;
    }
    .fs-70 {
        font-size: 50px;
        letter-spacing: 3;
    }
    .col-md-2 .card-img-top.img-fluid {
        width: 65%;
        margin: auto;
    }
    .benifits {
        display: none;
    }
    .footer .img-fluid.position-absolute {
        position: unset !important;
        margin: auto;
    }
    .footer .img-fluid.position-absolute {
        position: relative !important;
        left: 50%;
        transform: translate(-50%);
    }
    .footer .col-md-6 .row .col-md {
        text-align: center;
    }
}